In [4]:
import os
import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'C:\\Users\\admin\\Documents'

In [5]:
df = pd.read_csv('rent 2022.8月-10月.csv')

In [6]:
df

,Unnamed: 0,Unnamed: 1,name,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,avalible time,Unnamed: 8,bedroom,price,postcode
0,0,NaN,188B Kerferd Road Albert Park VIC 3206,NaN,NaN,NaN,NaN,"Available from Friday, 9th September 2022",NaN,1,670.0,3206
1,1,NaN,3/34 Leslie Street Richmond VIC 3121,NaN,NaN,NaN,NaN,"Available from Wednesday, 5th October 2022Bond...",NaN,1,320.0,3121
2,2,NaN,20/12 Dundas Street Thornbury VIC 3071,NaN,NaN,NaN,NaN,Date Available: Available NowBond $1043,NaN,1,240.0,3071
3,3,NaN,4/317 Dandenong Road Prahran VIC 3181,NaN,NaN,NaN,NaN,"Available from Friday, 9th September 2022Bond ...",NaN,2,430.0,3181
4,4,NaN,43 Philipson Street Albert Park VIC 3206,NaN,NaN,NaN,NaN,"Available from Thursday, 29th September 2022Bo...",NaN,3,680.0,3206
...,...,...,...,...,...,...,...,...,...,...,...,...
2997,2997,NaN,1/4 Victor Street Sunshine North VIC 3020,NaN,NaN,NaN,NaN,Date Available: Available NowBond $1607,NaN,3,370.0,3020
2998,2998,NaN,24 David Street Brunswick VIC 3056,NaN,NaN,NaN,NaN,Date Available: Available NowBond $2499,NaN,2,575.0,3056
2999,2999,NaN,5 Wareham Street Springvale VIC 3171,NaN,NaN,NaN,NaN,Date Available: Available NowBond $2238,NaN,3,515.0,3171
3000,3000,NaN,3/34 Hudson Street Coburg VIC 3058,NaN,NaN,NaN,NaN,Date Available: Available NowBond $1690,NaN,2,390.0,3058
3001,3001,NaN,30 Old Menzies Creek Road Selby VIC 3159,NaN,NaN,NaN,NaN,Date Available: Available NowBond $4334Interna...,NaN,6,NaN,3159

In [93]:
import re

In [8]:
df.iloc[0,7].split(',')[1]

['Available from Friday', ' 9th September 2022']

In [ ]:
df['month'] = df.price

In [98]:
monlist = []
for i in range(len(df)):
    re0 = df.iloc[i,7]
    if  type(re0) != str:
        df.iloc[i, 12] = np.nan
        continue
        
    x = re.findall('NowBond', re0)
    if len(x) > 0:
        df.iloc[i, 12] = 'August'
    else:
        d0 = df.iloc[i,7].split(',')
        if len(d0) > 1:
            decom = re.findall('.*ber', d0[1])[0].split(' ')
            df.iloc[i, 12] = decom[2]

In [99]:
df

,Unnamed: 0,Unnamed: 1,name,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,avalible time,Unnamed: 8,bedroom,price,postcode,month
0,0,NaN,188B Kerferd Road Albert Park VIC 3206,NaN,NaN,NaN,NaN,"Available from Friday, 9th September 2022",NaN,1,670.0,3206,September
1,1,NaN,3/34 Leslie Street Richmond VIC 3121,NaN,NaN,NaN,NaN,"Available from Wednesday, 5th October 2022Bond...",NaN,1,320.0,3121,October
2,2,NaN,20/12 Dundas Street Thornbury VIC 3071,NaN,NaN,NaN,NaN,Date Available: Available NowBond $1043,NaN,1,240.0,3071,August
3,3,NaN,4/317 Dandenong Road Prahran VIC 3181,NaN,NaN,NaN,NaN,"Available from Friday, 9th September 2022Bond ...",NaN,2,430.0,3181,September
4,4,NaN,43 Philipson Street Albert Park VIC 3206,NaN,NaN,NaN,NaN,"Available from Thursday, 29th September 2022Bo...",NaN,3,680.0,3206,September
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2997,2997,NaN,1/4 Victor Street Sunshine North VIC 3020,NaN,NaN,NaN,NaN,Date Available: Available NowBond $1607,NaN,3,370.0,3020,August
2998,2998,NaN,24 David Street Brunswick VIC 3056,NaN,NaN,NaN,NaN,Date Available: Available NowBond $2499,NaN,2,575.0,3056,August
2999,2999,NaN,5 Wareham Street Springvale VIC 3171,NaN,NaN,NaN,NaN,Date Available: Available NowBond $2238,NaN,3,515.0,3171,August
3000,3000,NaN,3/34 Hudson Street Coburg VIC 3058,NaN,NaN,NaN,NaN,Date Available: Available NowBond $1690,NaN,2,390.0,3058,August
3001,3001,NaN,30 Old Menzies Creek Road Selby VIC 3159,NaN,NaN,NaN,NaN,Date Available: Available NowBond $4334Interna...,NaN,6,NaN,3159,August

In [100]:
redf = df.groupby(['postcode', 'month']).agg(np.nanmean)

In [102]:
result = redf['price'].unstack(level = -1)

In [103]:
result.to_csv('result_dataframe.csv')