In [257]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Dense, Normalization
from sklearn.model_selection import train_test_split

In [168]:
df = pd.read_csv('cleaned_complete.csv')
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'index', 'propertyTypes', 'bathrooms',
       'bedrooms', 'carspaces', 'dateUpdated', 'dateListed', 'geoLocation',
       'landAreaSqm', 'postcode', 'surburb', 'year', 'month', 'price', 'bond',
       'rent', 'longitude', 'latitude', 'geometry', 'index_right',
       'SA2_maincode_2021', 'distance of the closest bus stop',
       'count of bus stop', 'distance of the closest train stop',
       'count of train stop', 'distance of the closest tram stop',
       'count of tram stop', 'distance of the closest vline stop',
       'count of vline stop', 'distance of the closest school',
       'count of school', 'count of hospital',
       'distance to the closest shopping mall', 'count of shopping mall',
       'bench', 'cafe', 'childcare', 'fast_food', 'kindergarten', 'parking',
       'restaurant', 'place_of_worship', 'school', 'university', 'garden',
       'park', 'playground', 'pitch', 'offence count', 'incidents recorded',
       'Population ', 'Population Increase', 'Earners (persons)',
       'Median age of earners (years)', 'Sum ($)', 'Median ($)', 'Mean ($)',
       'Male', 'Female', 'Person', 'Male Ratio', 'Female Ratio'],
      dtype='object')

In [169]:
COLS = [ 'rent', 'postcode', 'bathrooms', 'bedrooms', 'carspaces',
    'landAreaSqm', 'year', 'month', 'bond',
    'distance of the closest bus stop','count of bus stop',
    'distance of the closest train stop', 'count of train stop',
    'distance of the closest tram stop','count of tram stop', 
    'distance of the closest vline stop','count of vline stop',
    'distance of the closest school','count of school',
    'count of hospital', 'count of shopping mall',
    'distance to the closest shopping mall',
    'bench', 'cafe', 'childcare', 'fast_food', 'kindergarten', 'parking',
    'restaurant', 'place_of_worship', 'school', 'university', 'garden',
    'park', 'playground', 'pitch', 'offence count', 'incidents recorded',
    'Population ']
df = df[COLS]

In [170]:
df_fillna = df.iloc[:,[10,12,14,16,17,18,19,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36]].fillna(0)
df.iloc[:,[10,12,14,16,17,18,19,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36]] = df_fillna

In [171]:
df.drop(columns = ['landAreaSqm','bond','distance of the closest bus stop',
    'distance of the closest train stop', 
    'distance of the closest tram stop',
    'distance of the closest vline stop',
    'distance of the closest school',
    'distance to the closest shopping mall',],inplace=True)
df.head()

,rent,postcode,bathrooms,bedrooms,carspaces,year,month,count of bus stop,count of train stop,count of tram stop,...,place_of_worship,school,university,garden,park,playground,pitch,offence count,incidents recorded,Population
0,360.0,3205,1.0,1.0,0.0,2019,1,10,0,24,...,6.0,1.0,0.0,8.0,16.0,10.0,5.0,22895.0,17201.0,12753.0
1,725.0,3205,2.0,2.0,1.0,2019,1,10,0,24,...,6.0,1.0,0.0,8.0,16.0,10.0,5.0,22895.0,17201.0,12753.0
2,500.0,3205,1.0,2.0,0.0,2019,1,10,0,24,...,6.0,1.0,0.0,8.0,16.0,10.0,5.0,22895.0,17201.0,12753.0
3,795.0,3205,1.0,3.0,0.0,2019,1,10,0,24,...,6.0,1.0,0.0,8.0,16.0,10.0,5.0,22895.0,17201.0,12753.0
4,825.0,3205,2.0,2.0,0.0,2019,1,10,0,24,...,6.0,1.0,0.0,8.0,16.0,10.0,5.0,22895.0,17201.0,12753.0

In [172]:
df_group = df.groupby(['postcode','year','month']).mean()
df_group.reset_index(inplace=True)
df_group

,postcode,year,month,rent,bathrooms,bedrooms,carspaces,count of bus stop,count of train stop,count of tram stop,...,place_of_worship,school,university,garden,park,playground,pitch,offence count,incidents recorded,Population
0,3000,2019,1,585.623431,1.305439,1.732218,0.188285,19.0,0.0,23.0,...,4.0,3.0,0.0,3.0,15.0,4.0,6.0,161725.0,125561.0,16917.154812
1,3000,2019,2,566.382239,1.250965,1.664093,0.216216,19.0,0.0,23.0,...,4.0,3.0,0.0,3.0,15.0,4.0,6.0,161725.0,125561.0,17292.447876
2,3000,2019,3,553.436063,1.118110,1.582677,0.314961,19.0,0.0,23.0,...,4.0,3.0,0.0,3.0,15.0,4.0,6.0,161725.0,125561.0,16707.661417
3,3000,2019,4,559.616222,1.188889,1.655556,0.244444,19.0,0.0,23.0,...,4.0,3.0,0.0,3.0,15.0,4.0,6.0,161725.0,125561.0,17390.088889
4,3000,2019,5,551.394316,1.200000,1.568421,0.336842,19.0,0.0,23.0,...,4.0,3.0,0.0,3.0,15.0,4.0,6.0,161725.0,125561.0,16272.747368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11261,3984,2019,6,600.000000,3.000000,4.000000,2.000000,18.0,0.0,0.0,...,1.0,3.0,0.0,0.0,10.0,3.0,20.0,4215.0,3058.0,8741.000000
11262,3984,2019,9,290.000000,1.000000,2.000000,1.000000,18.0,0.0,0.0,...,1.0,3.0,0.0,0.0,10.0,3.0,20.0,4215.0,3058.0,8741.000000
11263,3984,2021,2,400.000000,1.000000,4.000000,2.000000,18.0,0.0,0.0,...,1.0,3.0,0.0,0.0,10.0,3.0,20.0,4215.0,3058.0,26723.000000
11264,3984,2021,4,360.000000,1.000000,3.000000,1.000000,18.0,0.0,0.0,...,1.0,3.0,0.0,0.0,10.0,3.0,20.0,4215.0,3058.0,10148.000000
11265,3984,2022,7,520.000000,1.000000,4.000000,2.000000,18.0,0.0,0.0,...,1.0,3.0,0.0,0.0,10.0,3.0,20.0,4215.0,3058.0,27639.704852

In [173]:
TARGET_COLS = ['rent']

train, test = train_test_split(df_group, train_size=0.8, random_state=0)

X_train, y_train = train.drop(TARGET_COLS, axis=1), train[TARGET_COLS]
X_test, y_test = test.drop(TARGET_COLS, axis=1), test[TARGET_COLS]

print(f'{len(X_train)} training instances, {len(X_test)} test instances')

9012 training instances, 2254 test instances

In [236]:
# Setup a normalization layer and adapt it to the training set so that it knows
# what mean and sd to use when normalising
norm_layer = Normalization()
norm_layer.adapt(X_train)
model = keras.Sequential(
    [   
        norm_layer,                   # our normalisation layer recieves the input
        Dense(30, activation='relu'),  # the hidden layer gets the normalised result
        Dense(20, activation='relu'), 
        Dense(10, activation='relu'), 
        Dense(1, activation='relu')   # and the output layer has a single node which will estimate rent
    ]
)
model.compile(
    optimizer = tf.keras.optimizers.Adam(learning_rate=0.2),
    loss='MSE' 
)

In [247]:
history = model.fit(
    x=X_train,
    y=y_train,
    batch_size=100,
    validation_split=0.25,
    epochs=10
)

Epoch 1/10
68/68 [==============================] - 0s 2ms/step - loss: 3170.1326 - val_loss: 3703.4114
Epoch 2/10
68/68 [==============================] - 0s 1ms/step - loss: 3508.7749 - val_loss: 4320.0576
Epoch 3/10
68/68 [==============================] - 0s 1ms/step - loss: 3082.3340 - val_loss: 4519.7729
Epoch 4/10
68/68 [==============================] - 0s 1ms/step - loss: 3080.7581 - val_loss: 4041.2827
Epoch 5/10
68/68 [==============================] - 0s 1ms/step - loss: 3495.0972 - val_loss: 3705.6602
Epoch 6/10
68/68 [==============================] - 0s 1ms/step - loss: 3235.8999 - val_loss: 3785.2556
Epoch 7/10
68/68 [==============================] - 0s 1ms/step - loss: 3191.0339 - val_loss: 3839.8523
Epoch 8/10
68/68 [==============================] - 0s 1ms/step - loss: 3249.0510 - val_loss: 3809.9827
Epoch 9/10
68/68 [==============================] - 0s 1ms/step - loss: 3123.3931 - val_loss: 3574.8154
Epoch 10/10
68/68 [==============================] - 0s 1ms/step - loss: 2936.9690 - val_loss: 3478.0134

In [259]:
comparison = y_test.iloc[:20].copy()
comparison.loc[:, 'prediction'] = model.predict(X_test.head(20))
comparison

1/1 [==============================] - 0s 25ms/step

            rent  prediction
9674  400.000000  424.515442
9642  300.000000  283.630402
3648  470.000000  544.234497
578   348.125000  364.407501
9424  366.666667  368.323914
1961  434.545455  478.093140
4315  425.000000  351.440765
2315  490.733333  505.252655
3749  595.000000  605.257446
8104  900.000000  519.364502
6966  390.000000  392.802399
7587  240.000000  273.146912
6640  497.500000  424.640656
8179  320.000000  343.312531
8865  246.250000  293.356628
5692  327.500000  361.431488
6413  716.666667  757.852478
125   372.954545  458.843109
9947  355.000000  367.715118
1357  403.636364  397.754791

In [249]:
predictions = model.predict(X_test)
errors = np.array(predictions - y_test)
squared_errors = errors**2
mean_squared_error = squared_errors.mean()

print(f'MSE: {mean_squared_error}')
tot_sum_squares = (np.array(y_test - y_test.mean())**2).sum()
r2 = 1 - (squared_errors.sum() / tot_sum_squares)
print(f'Model R^2: {r2:.4f}')

71/71 [==============================] - 0s 670us/step
MSE: 4112.405355051579
Model R^2: 0.6987